<%= form_for(current_user.favtalk_relationships.build, remote: true) do |f| %>
    <span>
    <%= f.hidden_field :talkroom_id, :value => talkroom.id %>
    </span>
  <%= button_tag '<i class="notfav fa fa-heart fa-2x"></i>'.html_safe, :type => "submit", 
    :class =>"btn btn-link" %>
<% end %>
