<div class="box">
  <div class="row">
    <div class="main-contents col-xs-8 col-xs-offset-2">
      <h1>
        <%= @talkroom.talkname %>
      </h1>
      <% if logged_in? %>
          <div class="comments_line">
            <%= render partial: 'comments/comment', collection: @comments %>
          </div>
          <div class="comment_form">
            <%= render 'comments/comment_form', talkroom: @talkroom %>
          </div>
      <% end %>
    </div>
  </div>
</div>