<div class="box">
  <div class="row">
    <div class="main-contents col-xs-8 col-xs-offset-2">
      <h1>
        FOLLOWING
      </h1>
      <div id="user-line">
          <%#= render partial:'comments/feed', collection: @talkroom_comments %>
      </div>
    </div>
  </div>
</div>