<div class="box">
  <div class="row">
    <div class="main-contents col-xs-8 col-xs-offset-2">
      <h1>
        FOLLOWER
      </h1>
      <div id="user-line">
          <%= render partial:'relationships/followers', collection: @followers %>
      </div>
    </div>
  </div>
</div>