<div class="box">
    <div class="main-contents col-xs-8 col-xs-offset-2">
        <%= render 'users/detail' %>

      <br>
      <div class="talk-show">
          <% if @user.talkrooms.any? %>
            <h3>質問した投稿</h3>
            <div class="talkroom-center">
            <ol class="talkrooms">
              <%= render @talkrooms %>
            </ol>
            </div>
          <% end %>
      </div>
</div>