#comments-line {
    #comments-wrapper{
        .comment{
            margin: 0 auto;
            position: relative;
            border:2px solid pink;
            background-color:#fffaff;
            border-radius: 10px;
            margin-top:30px;
            width:80%;
            min-height: 100px;
            height: auto !important;
            height: 100px;
            padding:10px;
            .comment-user, .comment-text{
                display:inline-block;
                margin: 0 auto;
                padding: 10px;
                border: 2px solid #4ECDC4;
                }
            .comment-user{
                float:left;
                a, .user{
                    
                display: block;
                }
                .user{
                    font-size:14px;
                }
            }
            .comment-text{
                vertical-align:top;
            }
            
            .comment-detail{
                background-color:#d3d3d3;
                position:absolute;
                bottom:5px;
                right:10px;
                font-size:10px;
            }
        }
        
    }
}