.talkroom-center{
  position: relative;
}
  .talkrooms {
    position: relative;
    list-style: none;
    min-height:650px;
    margin-top:40px;
    text-align:center;
    
    li {
      position:relative;
      padding: 10px 0;
      -moz-box-shadow: 0 1px 3px white;
      -webkit-box-shadow: 0 1px 3px white;
      box-shadow: 0 1px 3px #3f3f3f;
      border-radius: 3px;
      background-color:#fff;
      margin-top: 20px;
      margin-left:10px;
      width:30%;
      min-height:200px;
      float:left;
    }
    .content {
      font-size:16px;
      display: block;
      margin: 20px 15px 10px 15px;
    }
    .talk-detail{
      background-color:#2ca9e1;
      border: 1px solid #c67f7f;
      -moz-box-shadow: 0 1px 3px white;
      -webkit-box-shadow: 0 1px 3px white;
      box-shadow: 0 1px 3px #3f3f3f;
      position:absolute;
      height:30%;
      bottom:0;
      width:100%;
      .timestamp, .user {
        font-size:12px;
        padding-left:5px;
        padding-right:5px;
        text-align:right;
        color: #d3d3d3;
        display: block;
      }
      .user{
        padding-top:8px;
        color:#d3d3ff;
      }
    }

  }
.comment_form{
    width:100%;
    background-color:pink;
    position:relative;
    .field, .btn{
      margin-top:10px;
    }
    .field{
      
      width:80%;
      display:inline-block;
      padding-top:10px;

    }
    .btn{
      display:inline-bloack;
      padding:10px;
      margin-bottom:50px;
    }
}
