
  .talkrooms {
    list-style: none;
    padding: 0;
    magin-top:10px;
    li {
      padding: 10px 0;
      border:2px solid #ffcc33;
      border-radius: 10px;
      background-color:#fff;
      margin-top:10px;
      
    }
    .content {
      font-size:16px;
      display: block;
      margin: 10px 15px 10px 15px;
    }

    .timestamp, .user {
      font-size:14px;
      text-align:right;
      padding-top: 0;
      color: #d3d3d3;
      display: block;
      margin-right: 20px;
    }
  }
.main-contents{
  position: relative;
  min-height: 100vh;
  
.comment_form{
  text-align:center;
  position: absolute;
  bottom: 20%;
  }
}